html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

body {
  visibility: hidden; /* Stop the FUC */
  background-color: #283052;
  background: url('/img/bg-mountains-natural-sm.jpg') no-repeat;
  background-size: cover;
  -webkit-transition: background-image 2s ease-in;
  -moz-transition: background-image 2s ease-in;
  -ms-transition: background-image 2s ease-in;
  -o-transition: background-image 2s ease-in;
  transition: background-image 2s ease-in;
}

.overlay {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 48, 82, 0.09)), to(rgba(40, 48, 82, 1.00)));
  background-image: -webkit-linear-gradient(top, rgba(40, 48, 82, 0.09), rgba(40, 48, 82, 1.00));
  background-image: -moz-linear-gradient(top, rgba(40, 48, 82, 0.09), rgba(40, 48, 82, 1.00));
  background-image: -o-linear-gradient(top, rgba(40, 48, 82, 0.09), rgba(40, 48, 82, 1.00));
  background-image: -ms-linear-gradient(top, rgba(40, 48, 82, 0.09), rgba(40, 48, 82, 1.00));
  background-image: linear-gradient(top, rgba(40, 48, 82, 0.09), rgba(40, 48, 82, 1.00));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#283052', EndColorStr='#283052');
}

header {
  display: block;
  position: relative;
  padding-top: 20vh;
  text-align: center;
}

header .headshot {
  display: block;
  margin: 0 auto 40px auto;
  width: 120px;
  border-radius: 50%;
  overlay: hidden;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}

header h1 {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  line-height: 1;
}

header h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 40px 0;
  color: #CCD6F6;
}

.icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons ul li {
  text-indent: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 20px;
}

.icons ul li:last-child {
  margin-right: 0;
}

.icons ul li img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.icons ul li img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
