<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>

	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/template/css/app.css">
</head>
<body>
	
  <div class="article">
    <!-- <img src="http://placehold.it/1200x400" class="img-feature"> -->
    <div class="meta">
    	<div class="date">December 26th, 2014</div>
    </div>  
    <div class="content">
    	<h1>This is the Article Title</h1>
	  	<p>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto libero in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.
	  	</p>
	  	<p>
	  	  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto libero in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.	
	  	</p>
	  	<p>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto libero in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.
	  	</p>
    </div>

  </div><!-- .article -->


  <div class="article">
    <!-- <img src="http://placehold.it/1200x400" class="img-feature"> -->
    <div class="meta">
    	<div class="date">December 26th, 2014</div>
    </div>  
    <div class="content">
    	<h1>This is the Article Title</h1>
	  	<p>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto libero in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.
	  	</p>
	  	<p>
	  	  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto libero in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.	
	  	</p>
	  	<p>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto libero in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.
	  	</p>
    </div>

  </div><!-- .article -->

</body>
</html>