<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nick Loveridge</title>

	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  
  <link href='http://fonts.googleapis.com/css?family=Raleway:800,400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/template/css/app.css">
</head>
<body>

  <div class="article">
    
    <div class="content">
    
      <div class="title">
        <h1>This is the Article</h1>
        <h2>You will not believe this.</h2>

        <div class="meta">
          <div class="date">December 26th, 2014</div>
        </div>  
      </div>

      <p class="intro">
        This is some sort of interesting fact that relates to the title and leads the user into the essay.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum <a href="#">architecto libero</a> in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.
      </p>
      
      <!-- <img src="http://placehold.it/900x300"> -->

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto libero in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis. 
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto libero in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.
      </p>
    </div>

  </div><!-- .article -->


  <div class="article">
    
    <div class="content">
    
      <div class="title">
        <h1>This is the Article</h1>
        <h2>You will not believe this.</h2>

        <div class="meta">
          <div class="date">December 26th, 2014</div>
        </div>  
      </div>

      <p class="intro">
        This is some sort of interesting fact that relates to the title and leads the user into the essay.
      </p>

	  	<p>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum <a href="#">architecto libero</a> in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.
	  	</p>
      
      <!-- <img src="http://placehold.it/900x300"> -->

	  	<p>
	  	  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto libero in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.	
	  	</p>
	  	<p>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto libero in natus, quas quam dolorem obcaecati quasi officiis dicta numquam vero doloribus dolorum modi quae dignissimos mollitia quibusdam perferendis.
	  	</p>
    </div>

  </div><!-- .article -->



  <!-- <ul class="nav">
  	<li><a href="#">About Me</a></li>
  	<li><a href="#">Work</a></li>
  	<li><a href="#">Resources</a></li>
  </ul> -->

</body>
</html>