---
layout: post-index
description: "Software engineer, designer and javascript ninja. Building websites since 2001"
---

{% for post in paginator.posts %}

  <div class="article">

    <div class="title">
      <h1>{{ post.title }}</h1>

      {% if post.subtitle %}
        <h2>{{ post.subtitle }}</h2>
      {% endif %}

      <div class="meta">
        <div class="date">{{ post.date | date: "%B %d, %Y" }}</div>
      </div>  
    </div>
    
    <div class="content">
      {{ post.content }}
    </div>

  </div><!-- .article -->

{% endfor %}

<!-- <div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}" class="btn">Previous</a>
    {% else %}
      <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% else %}
    Previous
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="{{ site.url }}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
    Next
  {% endif %}
</div> -->